namespace: event-system
image:
  backend:
    repository: jayaraj0781/event-backend
    tag: "v1.0.5"
  worker:
    repository: jayaraj0781/event-backend
    tag: "v1.0.5"
  scheduler:
    repository: jayaraj0781/event-backend
    tag: "v1.0.5"
  pullPolicy: Always
env:
  # database
  POSTGRES_USER:
    valueFrom:
      secretKeyRef:
        name: pg-secret
        key: username
  POSTGRES_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: pg-secret
        key: password
  POSTGRES_DB: "notifications"
  POSTGRES_HOST: "event-postgres-postgresql"
  POSTGRES_PORT: "5432"
  # redis
  REDIS_HOST: "event-redis-master"
  REDIS_PORT: "6379"
  REDIS_DB: "0"
  # rq
  RQ_QUEUE: "default"
  RQ_RETRIES: "3"
  # smtp (password should be a secret)
  SMTP_HOST: "smtp.gmail.com"
  SMTP_PORT: "587"
  SMTP_USER: "thalapathy@gmail.com"
  SMTP_PASSWORD: "securepassword"
  SMTP_USE_SSL: "false"
  FROM_EMAIL: "no-reply@example.com"
backend:
  replicaCount: 1
  port: 5001
  command:
    - "/app/.venv/bin/uvicorn"
  args:
    - "app.main:app"
    - "--host"
    - "0.0.0.0"
    - "--port"
    - "5001"
  livenessProbe:
    httpGet:
      path: /health
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 3
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /health
      port: http
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 3
    successThreshold: 1
  service:
    type: ClusterIP
    port: 5001
    annotations: {}
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
worker:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 5001
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 150m
      memory: 128Mi
scheduler:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 5001
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
istio:
  enabled: true
  pilot:
    enabled: true
    enableSds: true
  gateway:
    port: 80
    securePort: 443
    hosts:
      - api.jayaraj.dev
    ingressGatewaySelector:
      istio: ingress
  gateways:
    istio-ingressgateway:
      sds:
        enabled: true
  virtualService:
    hosts:
      - api.jayaraj.dev
      # - "*"   # same override
  tls:
    enabled: true
    mode: SIMPLE
    credentialName: api-tls-secret
    httpsRedirect: true
serviceAccount:
  create: false
  annotations: {}
  automount: true
httpRoute:
  enabled: false
ingress:
  enabled: false
